<div class="container">
  <div class="fixed">
    <div class="row headers">
      <div class="col s8">
        <h1><%= @restaurant.name %></h1>
      </div>
      <div class="col s4 right-align">
        <div class="updown">
          <% if session[:user_id] %>
            <form method="post" action="vote">
              <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>"/>
              <input type="hidden" name="value" value="1"/>
              <span class="vote-button upvote"><%= @restaurant.upvotes %> <input class="button" type="submit" value="&#x25B2;"/></span>
            </form>
            <form method="post" action="vote">
              <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>"/>
              <input type="hidden" name="value" value="-1"/>
              <span class="vote-button downvote"><%= @restaurant.downvotes %> <input class="button" type="submit" value="&#x25BC;"/></span>
            </form>
          <% else %>
            <h6 class="vote-graphic upvote"><%= @restaurant.upvotes %> &#x25B2;</h6>
            <h6 class="vote-graphic downvote"><%= @restaurant.downvotes %> &#x25BC;</h6>
          <% end %>
        </div>
        <h2>&nbsp;<%= @restaurant.voted_rating %></h2>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s8">
        <h4><%= @restaurant.locality %></h4>
        <h5><%= @restaurant.address %></h5>
      </div>
      <div class="col s4 right-align valign z-rating">
        <h3><%= @restaurant.zomato_rating %> <small>/ 5</small></h3>
        <h6>on Zomato</h6>
      </div>
    </div>
    <% if @restaurant.reviews %>
      <h3>Reviews</h3>
      <hr/>    
    <% end %>  
  </div>
  <div class="scrollable">
    <% if @restaurant.reviews %>
      <% @restaurant.reviews.each_with_index do |review, index| %>
        <h6><%= "<strong>#{review.rating}</strong> - #{review.username}" %></h6>
        <p><%= review.body %></p>
        <p><small>Posted on <%= review.created_at.to_date.strftime("%B %y, %Y") %></small></p>
        <%= '<hr/>' unless index == @restaurant.reviews.length - 1 %>
      <% end %>
    <% end %>
  </div>
</div>